<div class="row">
	<input type="text" class="form-control ml-3 col-10" id="validationDefault01" placeholder="Encontra tu Rifa" value="Tu busqueda"> 
	<%= link_to  '' , g_search_path , class: 'fas col-1 mt-3 fa-search'%>
</div>
<%= render 'statics/rifas' %>
<%= render 'statics/user_list' %>