<div class="container">
	<div class="row p-3 start" id="serarch">
	<h2 class="text-white col-12 text-center ">Encontra tu Rifa</h2>
	<p class="text-center text-white col-12">Ayuda a cumplit la meta, y sali Ganando</p>
    <input type="text" class="form-control col-10" id="validationDefault01" placeholder="Encontra tu Rifa"> 
   	<a href="#" class="fas col-1 mt-3 text-white fa-search"></a>
	</div>
</div>
<div class="container mt-3">
	<div class="row p-3 elegi-tu-usuario" id="serarch">
		<div class="col-8">
			<h2 class="text-white col-12 text-right">Suportealo</h2>
			<h5 class="text-left text-white col-12 mb-2">Crea tu usuario</h5>	
			<p class="text-left text-white col-12">Empeza de toque </p>	
		</div>
		<div class="col-3 offset-1">
   		<a href="#" class="fas float-right text-white fa-user size-100"></a>
		</div>
	</div>
</div>

<div class="container mt-3">
	<div class="row p-3 crear-rifa" id="serarch">
   	<a href="#" class="text-white fas fa-sticky-note size-100"></a>
		<div>
			<h2 class="text-right col-12 text-white text-left ">Registra Tu Rifa</h2>
			<p class="text-right text-white col-12">Asi empieza el Sueño</p>	
		</div>
	</div>
</div>

<div class="container mt-3">
	<div class="row sponsor p-3 " id="serarch">
		<div class="col-8">
			<h2 class="text-right col-12 text-white ">Sponsorea</h2>
			<p class="text-left text-white col-12">Ayuda su Sueños </p>	
			<p class="text-left text-white col-12">Impulsa tu marca </p>	
		</div>
		<div class="col-3 offset-1">
   		<a href="#" class="text-white fas pull-right ml-3 fa-tachometer-alt size-100"></a>
		</div>
	</div>
</div>