<h2>Muchas gracias Juan, ayudaste a noelia con sus rifas</h2>
<h3 class="my-4">Nombre Rifa
    <small>Organizacion</small>
  </h3>

  <!-- Portfolio Item Row -->
  <div class="row">

    <div class="col-md-8">
      <img class="img-fluid" src="http://placehold.it/750x500" alt="">
    </div>

    <div class="col-md-4">
      <h2 class="my-3">Description</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
      <h4>Precio de Rifa u$100</h4>
      <h2 class="my-3">Premios</h2>
      <ul>
        <li>Lorem Ipsum</li>
        <li>Dolor Sit Amet</li>
        <li>Consectetur</li>
        <li>Adipiscing Elit</li>
        <li>Lorem Ipsum</li>
        <li>Dolor Sit Amet</li>
        <li>Consectetur</li>
        <li>Adipiscing Elit</li>
        <li>Lorem Ipsum</li>
        <li>Dolor Sit Amet</li>
        <li>Consectetur</li>
        <li>Adipiscing Elit</li>
        <li>Lorem Ipsum</li>
        <li>Dolor Sit Amet</li>
        <li>Consectetur</li>
        <li>Adipiscing Elit</li>
      </ul>
    </div>
    <a class="btn btn-primary ml-2" href="#">Ver detalles</a>
  </div>
<div class="row">
	<h4 class="my-4 col-6">N°
	<small>111111</small>
</h4>

<h3 class="my-4 col-6">u$ 100
</h3>
</div>
<h3>Muchas gracias por tu compra</h3>
<h2> todo nos acerca mas a los sueños </h2>
<p>puedes acceder a toda la informacion de esta rifa siempre desde tu usuario</p>
<div class="col-12 mt-4">
  <p class="small-muted">Comparte en y ayudala a seguir</p>
    <div class="row follow">
      <%= link_to '', "", class: 'fab size-20 ml-5 fa-facebook', target: '_blank' %>
      <%= link_to '', "", class: 'fab size-20 ml-3 fa-instagram', target: '_blank' %>
      <%= link_to '', "", class: 'fab size-20 ml-3 fa-twitter', target: '_blank' %>
    </div>
</div>

<%= link_to  've a tu peerfil' , root_path , class: 'btn btn-primary col-12 mt-5'%>
