<div class="container">

  <!-- Portfolio Item Heading -->
  <h3 class="my-4">Nombre Rifa
    <small>Organizacion</small>
  </h3>

  <!-- Portfolio Item Row -->
  <div class="row">

    <div class="col-md-8">
      <img class="img-fluid" src="http://placehold.it/750x500" alt="">
    </div>

    <div class="col-md-4">
      <h2 class="my-3">Description</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
      <h4>Precio de Rifa u$100</h4>
      <h2 class="my-3">Premios</h2>
      <ul>
        <li>Lorem Ipsum</li>
        <li>Dolor Sit Amet</li>
        <li>Consectetur</li>
        <li>Adipiscing Elit</li>
        <li>Lorem Ipsum</li>
        <li>Dolor Sit Amet</li>
        <li>Consectetur</li>
        <li>Adipiscing Elit</li>
        <li>Lorem Ipsum</li>
        <li>Dolor Sit Amet</li>
        <li>Consectetur</li>
        <li>Adipiscing Elit</li>
        <li>Lorem Ipsum</li>
        <li>Dolor Sit Amet</li>
        <li>Consectetur</li>
        <li>Adipiscing Elit</li>
      </ul>
    </div>
    <a class="btn btn-primary" href="#">Ver detalles</a>
  </div>
  <!-- /.row -->

  <!-- Related Projects Row -->
  <h3 class="my-4">Compra rifa</h3>

  <h5>Filtra por Vendedor</h5>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupSelect01"></label>
    </div>
    <select class="custom-select" id="inputGroupSelect01">
      <option selected>Filtra</option>
      <option value="1">Juan smith</option>
      <option value="2">Juan smith</option>
      <option value="3">Juan smith</option>
    </select>
  </div>
  <h5>Elige Numero</h5>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupSelect01"></label>
    </div>
    <select class="custom-select" id="inputGroupSelect01">
      <option selected>Elige...</option>
      <option value="1">#11111</option>
      <option value="2">#11111</option>
      <option value="3">#11111</option>
      <option value="4">#22222</option>
      <option value="4">#22222</option>
      <option value="4">#22222</option>
    </select>
  </div>
  <a class="btn btn-primary" href="#">Elige Otro</a>
  <%= link_to  'Compra Rifa' , rifa_form_path , class: 'btn btn-success col-12 mt-5'%>
  </div>
  <!-- /.row -->

</div>