@media (min-width: 1600px) and (max-width: 6000px) {

}

@media screen and (max-width: 1240px) {
    
}

@media screen and (max-width: 970px) {

}


@media screen and (max-width: 720px) {

}

@media screen and (max-width: 425px) {

}

@media screen and (max-width: 380px) {
  h2{ 
    font-size: 18px !important;
    font-weight: 900;
  }

  p{
    font-size: 12px;
  }

  h5{
    font-size: 14px !important;
  }

  .size-100{
    font-size: 80px !important;
  }
}

@media screen and (max-width: 320px) {
  


}
