
	<%= link_to "#menu-toggle", class: "ml-2 mt-1 black-circle", id:"menu-toggle" do %>
		<%= image_tag("logo.jpg", alt: "support me", size:"60x60", class: "red-circle") %>
	<% end%>
	<h1 class="mt-3 float-right mr-5">Suporteame</h1>
