<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <div class="row ml-1 mt-1">
              <input type="text" class="form-control col-9" id="validationDefault01" placeholder="Encontra tu Rifa"> 
              <%= link_to  '' , g_search_path , class: 'fas col-1 mt-3 text-white fa-search'%>
            </div>
        </li>
        <li>
            <a href="#" class="text-white"><h3>Empeza</h3></a>
        </li>
        <li>
            <a href="#" class="text-white">Logeate</a>
        </li>
        <li>
            <a href="#" class="text-white">Crea tu cuenta</a>
        </li>
    </ul>
</div>