<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <div class="row ml-1 mt-1">
               <input type="text" class="form-control col-9" id="validationDefault01" placeholder="Encontra tu Rifa"> 
               <a href="#" class="fas col-3 nav-search text-white fa-search"></a>
            </div>
        </li>
        <li>
            <a href="#" class="text-white"><h3>Empeza</h3></a>
        </li>
        <li>
            <a href="#" class="text-white">Logeate</a>
        </li>
        <li>
            <a href="#" class="text-white">Crea tu cuenta</a>
        </li>
    </ul>
</div>